#content {
  display: inline-block;
}

#graphic {
  font-size: 30px;
  text-align: center;
}

.seperator {
  display: inline-block;
  border-top: 1px solid #ddd;
  margin: 0 10px;
}

.control-panel {
  display: inline-block;
  vertical-align: top;
}

.control-panel .title {
  font-size: 20px;
  margin: 15px 0;
}

.control-panel .title:first-of-type {
  margin-top: 0;
}

.back-face-culling {
  margin-bottom: 15px;
}